.root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgb(245, 209, 13);
  padding: 8px;
  border-radius: 8px;
  text-align: center;
}

.title {
  margin-bottom: 8px;
  font-size: 20px;
}

.row {
  font-size: 16px;
  cursor: pointer;
  padding: 4px 0;
  transition: 300ms ease-in-out background-color, 300ms ease-in-out font-size;

  &:hover {
    font-size: 18px;
    background-color: rgb(255 225 63);
  }

  &_selected {
    font-size: 18px;
    background-color: rgb(255 225 63);
  }
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
