.root {
  padding: 4px;
  font-size: 14px;
  color: rgb(245, 209, 13);
  background-color: black;
  width: fit-content;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  transition: 300ms ease-in-out color;

  &:hover {
    color: white;
  }
}